<div class="row">
  <div class="col-4"><h2>Your favourite cities</h2></div>
  <div class="col-4"></div>
  <div class="col-4">
    <div class="input-group mb-3">
      <input [(ngModel)]="pattern" type="text" class="form-control" placeholder="City name" aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
    </div>
    <div class="input-group mb-3">
      <input [(ngModel)]="degrees" type="text" class="form-control" placeholder="Colder than..." aria-label="Recipient's username" aria-describedby="button-addon2">
      <button class="btn btn-outline-primary" type="button" id="button-addon2">Search</button>
    </div>
  </div>
</div>

<div class="row row-cols-md-5">
	<!-- @for (city of myCities | favCityByPattern:pattern | favCityByColderTemp:degrees; track city.id) { -->
   <!-- @if (!citiesLoaded) {
    <img src="loading_icon.gif" alt="loading" />
   } @else { -->
    @if (getMyCities().length == 0) {
      <span>User has no favorite cities</span>
    } @else {
      @for (city of getMyCities(); track city) {
        <app-city-card [cityId]="city"></app-city-card>
      }
    }
	<!-- } -->
</div>